body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 1em;
}

#sidebar {
    background-color: #E8FFFD;
}

#top-info {
    text-align: center;
    margin-bottom: 0px;
}

#top-info p {
    margin-bottom: 5px;
}

#bottom-info {
    text-align: left;
    padding-left: 20px;
}

.info-indent {
    padding-left: 10px;
}

#bottom-info p {
    margin-bottom: 5px;
}

#info-left {
    font-weight: bold;
}

#info-right {
    margin-left: 10px;
}

#opleidingen-right {
    margin-left: 20px;
}

.small {
    font-size: 12px;
    font-style: italic;
}